/* 🔥 ANTI FLASH ADMIN */
body.guest #adminPanel,
body.guest #storageInfo {
  display: none !important;
}

/* BASE */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f8fafc;
}

.header {
  background: white;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e8f0;
}

.title {
  font-weight: 600;
  color: #2563eb;
}

.search {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 15px;
  border: 1px solid #e2e8f0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.drop-zone {
  border: 2px dashed #2563eb;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  background: #eff6ff;
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.file-left {
  display: flex;
  gap: 8px;
  align-items: center;
}

.file-size {
  font-size: 11px;
  color: gray;
}

.upload-item {
  margin-top: 8px;
}

.upload-bar {
  height: 6px;
  background: #e2e8f0;
  border-radius: 6px;
}

.upload-fill {
  height: 100%;
  width: 0%;
  background: #2563eb;
}
.nav-path {
  font-size: 13px;
  color: #64748b;
  margin-bottom: 8px;
}

.folder-item {
  font-weight: 500;
  color: #1e293b;
  cursor: pointer;
}

.folder-item:hover {
  background: #f1f5f9;
  border-radius: 6px;
  padding-left: 6px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.icon-btn:hover {
  transform: scale(1.1);
}